main {
    padding: 20px;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.article-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4b66aa;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.article-box:hover {
    background-color: #324a88;
}